<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">

<body>
    <div class="box">
        <div class="wrap-contact100">
            <h1 class="a"> Book a Flight </h1>
        </div>
        <hr>

        <form [formGroup]="Booking_Form">

            <div class="label" style="text-align: center;">
                <label> Name </label>
                <input type="text" formControlName="Name" placeholder="Full Name">
                <span style="color: red;" *ngIf="Booking_Form.get('Name')?.errors?.['required']">*</span>
            </div>

            <div class="select">
                <label class="label"> Form </label>
                <select formControlName="From" id="slect1">
                  <option value='null' disabled>Choose Country</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Vietnam">Vietnam</option>
                  <option value="Laos">Laos</option>
                  <option value="Brunei">Brunei</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Phillippines">Phillippines</option>
                  <option value="Korea">Korea</option>
                  <option value="Australia">Australia</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Greece">Greece</option>
                  <option value="Finland">Finland</option>
                  <option value="Romania">Romania</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Estoniay">Estonia</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Togo">Togo</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Ethiopia">Ethiopia</option>
                </select>

                <span style="color: red;" *ngIf="Booking_Form.get('From')?.errors?.['required']">*</span>

            </div>
            <div class="select">
                <label class="label"> To  </label>
                <select formControlName="To" id="slect1">
                <option value='null' disabled>Choose Country</option>
                <option value='null' disabled>Choose Country</option>
                <option value="Thailand">Thailand</option>
                <option value="Singapore">Singapore</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Laos">Laos</option>
                <option value="Brunei">Brunei</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Phillippines">Phillippines</option>
                <option value="Korea">Korea</option>
                <option value="Australia">Australia</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Greece">Greece</option>
                <option value="Finland">Finland</option>
                <option value="Romania">Romania</option>
                <option value="Switzerland">Switzerland</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Hungary">Hungary</option>
                <option value="Estoniay">Estonia</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Guinea">Guinea</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Kenya">Kenya</option>
                <option value="Sudan">Sudan</option>
                <option value="Togo">Togo</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Ethiopia">Ethiopia</option>
              </select>

                <span style="color: red;" *ngIf="Booking_Form.get('To')?.errors?.['required']">*</span>

            </div>
            <div style="text-align: center;">
                <label>Trip Type</label>
                <span style="color: red;" *ngIf="Booking_Form.get('Type')?.errors?.['required']">*</span>&nbsp;&nbsp;
                <input type="radio" name="Type" formControlName="Type" value="One Way">One Way
                <input type="radio" name="Type" formControlName="Type" value="Return">Return
            </div>
            <br>
            <div class="select">
                <label class="label-input100">Departure</label>
                <input type="date" formControlName="Depart" id="slect2">
                <span style="color: red;" *ngIf="Booking_Form.get('Depart')?.errors?.['required']">*</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="label-input100">Arrival</label>
                <input type="date" formControlName="Arrival" id="slect2">
                <span style="color: red;" *ngIf="Booking_Form.get('Arrival')?.errors?.['required']">*</span>

            </div><br>
            <div class="select">
                <label>Adults</label>
                <input type="number" formControlName="Adult" id="slect3">
                <span style="color: red;" *ngIf="Booking_Form.get('Adult')?.errors?.['required']">*</span>&nbsp;&nbsp;&nbsp;&nbsp;

                <label>Children</label>
                <input type="number" formControlName="Children" id="slect3">
                <span style="color: red;" *ngIf="Booking_Form.get('Children')?.errors?.['required']">*</span>&nbsp;&nbsp;&nbsp;&nbsp;


                <label>Infants</label>
                <input type="number" formControlName="Infants" id="slect3">
                <span style="color: red;" *ngIf="Booking_Form.get('Infants')?.errors?.['required']">*</span>&nbsp;&nbsp;&nbsp;&nbsp;


            </div><br>
            <div style="text-align: center;">
                <button type="submit" [disabled]="Booking_Form.invalid" (click)="onsubmit(Booking_Form)" class="button">Submit</button>
            </div><br>

        </form>


        <table class="table">
            <thead class="row_header">
                <tr>
                    <th>Full Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Trip Type</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Infants</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of flights">
                    <td>{{f.fullName}}</td>
                    <td>{{f.from}}</td>
                    <td>{{f.to}}</td>
                    <td>{{f.type}}</td>
                    <td>{{f.departure}}</td>
                    <td>{{f.arrival }}</td>
                    <td>{{f.adults}}</td>
                    <td>{{f.children}}</td>
                    <td>{{f.infants}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
