h1 {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background: #bfe6af;
}

.box {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    height: auto 0px;
    width: auto 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.37), -10px -10px 12px rgba(153, 229, 159, 0.842);
    background: #abe5a5;
}

.label input {
    width: 310px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding-left: 15px;
    margin-left: 10px;
    border-radius: 25px;
    background: #ffffff;
    border: none;
    margin-top: 8px;
    margin-bottom: 12px;
}

.select {
    text-align: center;
}

#slect1 {
    width: 49%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    box-sizing: border-box;
}

#slect2 {
    width: 30%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    box-sizing: border-box;
}

#slect3 {
    width: 20%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3cc465;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(147, 165, 145);
}

.button:hover {
    background-color: #309630
}

.button:active {
    background-color: #2a8827;
    box-shadow: 0 5px rgb(189, 209, 179);
    transform: translateY(4px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.row_header {
    background: #309630;
}

td,
th {
    border: 2px solid #7dc76e;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #58c561;
}
